<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Monoton" rel="stylesheet">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/blogasaurus/style.css">
  </head>
  <body>
    <div id="all">
      <div id="banner">
        <ul id="banner_items">
            <li> <a href="/">Home </a></li>
            <li> <a href="/view-post?id=1">About Me </a></li>
            <li> <a href="/view-post?id=2">First Post </a> </li>
        </ul>
      </div>
      {{ content }}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="blogasaurus/indexjs.js"> </script>
    </div>
  </body>
</html>
