body {
  color : white;
  //background-color: rgb(182, 189, 198);
  background-image: url("Vermont_night_sky_stargazing.JPG");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  margin : auto;
  width: 100%;
  padding: 0;
}
#all{
  background: linear-gradient( to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
  height: 75%;
}
h1 {
  font-family: "Cinzel" , serif;
}
h1:hover {

}
a {
  /*color : black;*/
}
a:hover {
  color: pink;
}
.photo {
  width : 45%;
  float : right;
}
#container {
  /*background-color: rgb(17, 99, 135);
  border: 20px solid rgb(22, 116, 158);*/
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}
p {
  text-indent: 5px;
}
#commentSection {
  margin : auto;
  width: 60%;
  text-align: center;
  /*background: -radial-gradient(ellipse, rgba(17, 99, 135, 1), rgba(252, 255, 255, 0));
  background-color: rgb(17, 99, 135);*/
  background-color: grey;
  color: black;
  border: 20px solid rgb(45, 45, 45);
  padding: 20px;
}
#banner {
  height: 100px;
  width: 100%;
  //background-color: rgb(87, 92, 99);
  background: linear-gradient( to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
ul#banner_items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#banner_items li {
  float: left;
  margin:auto;
  text-align: center;

}
#banner_items li a {
  color : white;
  display: block;
  padding: 20px;
}
#banner_items li:hover {
  background-color: rgb(182, 189, 198);
}
#banner_items li a:hover {
  color : pink;
}
#previousComments {
  text-align: left;
}
